<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>RNSSanz-Black.otf</string>
		<string>RNSSanz-Bold.otf</string>
		<string>RNSSanz-ExtraBold.otf</string>
		<string>RNSSanz-Light.otf</string>
		<string>RNSSanz-Medium.otf</string>
		<string>RNSSanz-Normal.otf</string>
		<string>RNSSanz-SemiBold.otf</string>
		<string>Nunito-BlackItalic.ttf</string>
	</array>
</dict>
</plist>
